In [4]:
# import PyPDF2
# import tabula
import pandas as pd
import datetime
import re

In [2]:
from PyPDF2 import PdfFileReader

In [ ]:
ref_no

' N236201221531812 '

In [23]:
df = pd.read_excel('/Users/murtazavahanvaty/Downloads/BankStatement_HDFC_Husein_28022022.xlsx', skiprows=[i for i in range(20)])

In [53]:
df = pd.read_csv('/Users/murtazavahanvaty/Downloads/2215163693_statement.csv', skiprows=[i for i in range(12)]).iloc[:,1:-1]

In [54]:
df.columns = ['date','value_date','narration','ref_no','amount','dr_or_cr','balance']

In [62]:
df = df.iloc[: df[df.value_date.isna()].index[0]]

In [63]:
df

,date,value_date,narration,ref_no,amount,dr_or_cr,balance
0,04-05-2022,04-05-2022,NEFT N124221943771260 ENVISION ENTERPRISE SOLUTIO,NEFTINW-0404252946,"12,398.00",CR,"2,35,878.33"
1,04-05-2022,04-05-2022,UPI/ADITYA MOHAPATR/212402657251/UPI,UPI-212426522401,"3,150.00",DR,"2,32,728.33"
2,05-05-2022,05-05-2022,UPI/ADITI DUREHA/212523323895/UPI,UPI-212542784672,"4,100.00",DR,"2,28,628.33"
3,07-05-2022,07-05-2022,UPI/ADITYA MOHAPATR/212754972137/UPI,UPI-212767170334,"5,250.00",DR,"2,23,378.33"
4,07-05-2022,07-05-2022,PCD/5527/TASMAC 4466/CHENNAI070522/19:21,212713143608,"4,030.00",DR,"2,19,348.33"
...,...,...,...,...,...,...,...
110,03-08-2022,03-08-2022,UPI/AADITYA SAXENA/221549403858/UPI,UPI-221581063855,"70,000.00",DR,"78,351.47"
111,03-08-2022,03-08-2022,UPI/slice/221551964407/slice,UPI-221582920059,"27,072.12",DR,"51,279.35"
112,03-08-2022,03-08-2022,UPI/MANIKANDAN M/221555484954/UPI,UPI-221585292516,80.00,DR,"51,199.35"
113,03-08-2022,03-08-2022,UPI/Mr RAJAVEL S O /221556246108/UPI,UPI-221585796601,200.00,DR,"50,999.35"
114,03-08-2022,03-08-2022,NACH-10-CR-TCS1STINTDIV030822-0000000000000099683,NACHDB03082200330458,56.00,CR,"51,055.35"

In [50]:
df.columns =

,Sl. No.,Transaction Date,Value Date,Description,Chq / Ref No.,Amount,Dr / Cr,Balance,Dr / Cr.1
0,1,04-05-2022,04-05-2022,NEFT N124221943771260 ENVISION ENTERPRISE SOLUTIO,NEFTINW-0404252946,"12,398.00",CR,"2,35,878.33",CR
1,2,04-05-2022,04-05-2022,UPI/ADITYA MOHAPATR/212402657251/UPI,UPI-212426522401,"3,150.00",DR,"2,32,728.33",DR
2,3,05-05-2022,05-05-2022,UPI/ADITI DUREHA/212523323895/UPI,UPI-212542784672,"4,100.00",DR,"2,28,628.33",DR
3,4,07-05-2022,07-05-2022,UPI/ADITYA MOHAPATR/212754972137/UPI,UPI-212767170334,"5,250.00",DR,"2,23,378.33",DR
4,5,07-05-2022,07-05-2022,PCD/5527/TASMAC 4466/CHENNAI070522/19:21,212713143608,"4,030.00",DR,"2,19,348.33",DR
...,...,...,...,...,...,...,...,...,...
114,115,03-08-2022,03-08-2022,NACH-10-CR-TCS1STINTDIV030822-0000000000000099683,NACHDB03082200330458,56.00,CR,"51,055.35",CR
115,Opening balance,"as on 04/05/2022 INR 2,23,480.33",NaN,NaN,NaN,NaN,NaN,NaN,NaN
116,Closing balance,"as on 04/08/2022 INR 51,055.35",NaN,NaN,NaN,NaN,NaN,NaN,NaN
117,You may call our 24-hour Customer Contact Cent...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
118,Write to us at Customer Contact Centre. Kotak ...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [24]:
df = df.iloc[1:,:].reset_index(drop=True)

In [26]:
selected_rows = df[df.isnull().all(axis=1)]

In [33]:
df = df.iloc[0: selected_rows.index[0]]

In [40]:
df.columns = ['date', 'narration','ref_no','value_date','withdrawal_amount','deposit_amount','closing_balance']

In [46]:
pd.isnull(df.iloc[0].loc['deposit_amount'])

True

In [9]:
# importing required modules
from PyPDF2 import PdfReader
 
# creating a pdf file object
pdfFileObj = open('./file-1660137838925.pdf', 'rb')
 
# creating a pdf reader object
pdfReader = PdfFileReader(pdfFileObj)
 
# printing number of pages in pdf file
print(pdfReader.numPages)
 
# creating a page object
doc = []
old_closing_balance = 0
ref_no_regex = re.compile('\s[a-zA-Z0-9]{15,16}\s')
for page_number in range(pdfReader.numPages):
    pageObj = pdfReader.getPage(page_number)

    text = pageObj.extractText()
    break
    text = text.split('\n')
    for idx, sentence in enumerate(text):
        if 'Page No .: ' in sentence:
            text = text[0:idx]
        elif 'STATEMENT SUMMARY :-' in sentence:
            text = text[0:idx]
    for idx, sentence in enumerate(text):
        try:
            #This is the start of a new narration
            date = datetime.datetime.strptime(sentence[0:8], '%d/%m/%y')
        except:
            #This is a continuation of an older narration and has already been handled
            continue
        closing_balance = float(sentence.split(' ')[-1].replace(',',''))
        amount = float(sentence.split(' ')[-2].replace(',',''))
        if closing_balance <= old_closing_balance:
            amount = -amount
            transaction_name = 'Expense'
        else:
            transaction_name = 'Income'
        old_closing_balance = closing_balance
        r = ref_no_regex.search(sentence)
        narration = sentence[9:r.start()]
        ref_no = sentence[r.start():r.end()]
    #     Find if next sentence is a continuation of an older narration or start of new narration
        new_index = idx+1
        new_ref_no = ref_no
        while (new_index < len(text)):
            try:
                new_date = datetime.datetime.strptime(text[new_index][0:8], '%d/%m/%y')
                break
            except:
                narration += text[new_index]
                new_index = new_index+1
        doc.append({"date": date, 
                                        "narration": narration,
                                        "amount": amount,
                                        "transaction_name": transaction_name,
                                        "closing_balance": closing_balance
                                        })

    # doc.append(page_text)
    
 
# closing the pdf file object
pdfFileObj.close()

3

In [13]:
page_number

0

In [11]:
text

'Account No.\nPeriodCust. Reln. No.\nCurrency695010047527\nFrom 01/04/2022 To 10/08/2022IKHLAQUE AHMED RIYAZ AHMED MANER\n36719532\nMUMBRAKHARDI RD, NR RAHIMIYA MASJIDB 101, AL HUDAIBIYA TOWER\nMAHARASHTRA\nINDIA\n400612Thane\nY\nGULNAZ IKHLAQUE MANERINR\nMUMBAI - LOWER PAREL Branch\nNominee NameNomination Regd\nJoint Holder(S)\nChq / Ref number Dr / Cr Amount Description Balance Dr / Cr Date Sl. No.\n1NACH-10-DR-HDFCLTD-\n319543247NACHDB10082200351152 DR 25,000.0010/08/2022CR 3,921.24\n2UPI/IKHLAQUE AHMED\n/221542536927/Payment\nfrom PhUPI-221590680371 CR 25,000.0003/08/2022CR 28,921.24\n3UPI/DANIYA  RIYAZ\nM/220935353369/UPIUPI-220993158051 CR 500.0028/07/2022CR 3,921.24\n4UPI/Miss DANIYA\nRIY/220815918726/cash\ngivenUPI-220867926354 CR 800.0027/07/2022CR 3,421.24\n5UPI/DANIYA SYED\nAHM/220672653302/cash\ngivenUPI-220642805373 CR 500.0025/07/2022CR 2,621.24\n6UPI/NITIN HARIBHAU\n/220533879762/Send\nPaymentUPI-220524539395 DR 1,500.0024/07/2022CR 2,121.24\n7UPI/UBER INDIA\nSYST/220544386475/UberRi\ndeUPI-220520343522 DR 313.0024/07/2022CR 3,621.24\n8NACH-10-DR-HDFCLTD-\n316811526NACHDB10072200017292 DR 25,000.0010/07/2022CR 3,934.24\n9UPI/MOHD NASEEM\nANS/219067980131/milkUPI-219003516038 DR 260.0009/07/2022CR 28,934.24\n10UPI/Fashion\nWorld/219057595973/raincoa\ntUPI-219095534527 DR 500.0009/07/2022CR 29,194.24\n11UPI/DHANESH\nNAVNATH/219056135162/U\nPIUPI-219094397576 DR 350.0009/07/2022CR 29,694.24\n12Recd:IMPS/218219471455/IK\nHLAQUE\nA/KKBK/X9898/homeIMPS-218219855848 CR 25,000.0001/07/2022CR 30,044.24\n13Int.Pd:695010047527:01-04-\n2022 to 30-06-2022CR 120.0030/06/2022CR 5,044.24\n14ATL/1391/504439/+NASHEM\nAN CLNY,\nKAUSA,260622/11:485771 DR 1,000.0026/06/2022CR 4,924.24\n15Chrg: Weekly Bal Alerts\ncharges for May-22TBMS-983029085 DR 2.9525/06/2022CR 5,924.24Account Statement'

In [131]:
new_index

9

In [130]:
len(text)

9

In [13]:
regex = re.compile('\\n\d{1,5}\\s')
text = regex.split(text)

In [23]:
pdfFileObj = open('/Users/murtazavahanvaty/Downloads/Acct Statement_XX7415_13022022.pdf', 'rb')

In [25]:
pdfReader = PdfFileReader(pdfFileObj)

In [113]:
doc = []

In [115]:
pageObj = pdfReader.getPage(1)
text = pageObj.extractText()

In [116]:
text = text.split('\n')
old_closing_balance = 0
ref_no_regex = re.compile('\s[a-zA-Z0-9]{15,16}\s')
for idx, sentence in enumerate(text):
    if 'Page No .: ' in sentence:
        text = text[0:idx]
for idx, sentence in enumerate(text):
    print(sentence)
    try:
        #This is the start of a new narration
        date = datetime.datetime.strptime(sentence[0:8], '%d/%m/%y')
    except:
        #This is a continuation of an older narration and has already been handled
        continue
    closing_balance = float(sentence.split(' ')[-1].replace(',',''))
    amount = float(sentence.split(' ')[-2].replace(',',''))
    if closing_balance <= old_closing_balance:
        amount = -amount
        transaction_name = 'Expense'
    else:
        transaction_name = 'Income'
    old_closing_balance = closing_balance
    r = ref_no_regex.search(sentence)
    narration = sentence[9:r.start()]
    ref_no = sentence[r.start():r.end()]
#     Find if next sentence is a continuation of an older narration or start of new narration
    new_index = idx+1
    new_ref_no = ref_no
    while (ref_no == new_ref_no) & (new_index < len(text)):
        try:
            new_date = datetime.datetime.strptime(text[new_index][0:8], '%d/%m/%y')
            r_new = ref_no_regex.search(text[new_index])
            new_ref_no = text[new_index][r_new.start():r_new.end()]
        except:
            narration += text[new_index]
            new_index = new_index+1
    doc.append({"date": date, 
                                    "narration": narration,
                                    "amount": amount,
                                    "transaction_name": transaction_name,
                                    "closing_balance": closing_balance
                                    })

01/06/20 NEFT CR-ICIC0SF0002-DEVISH GNANESH GALA 0000001998714989 01/06/20 1,000.00 52,695.96
JT1-MV-1998714989
01/06/20 NEFT CR-UTIB0000848-GUNJAN ISHWARLAL NAV AXIR201537084412 01/06/20 2,400.00 55,095.96
ADIYA-MURTAZA H VAHANVATY-AXIR2015370844
12
01/06/20 00111530001485 -TPT-EXPENSES-SIDDHARTHA 0000000112844871 01/06/20 1,500.00 56,595.96
GANESH
09/06/20 NEFT CR-UTIB0000848-GUNJAN ISHWARLAL NAV AXIR201610435969 09/06/20 3,500.00 60,095.96
ADIYA-MURTAZA H VAHANVATY-AXIR2016104359
69
17/06/20 CASH DEPOSIT-XXXXXXXXXX7415-NERUL WEST 0000000000000399 17/06/20 15,000.00 75,095.96
17/06/20 UPI-ABHIMANYU KUMAR SING-SINGHABHIMANYU8 0000016918727074 17/06/20 600.00 75,695.96
6934@OKICICI-ICIC0000564-016918084380-UP
I
24/06/20 50100290695979-TPT-WALKIE TALKIE-AATASH 0000000137004080 24/06/20 2,800.00 72,895.96
PATEL
30/06/20 3ABK39KL1CI65YNQZD/AMAZONSELLER 0000201829766499 01/07/20 813.00 72,082.96
30/06/20 IB FUNDS TRANSFER CR-04231000044507-HUSE BM01820181586979 01/07/20 813.00 72,895.96
IN HAMZA VAHANVATY
01/07/20 CREDIT INTEREST CAPITALISED 000000000000000 30/06/20 240.00 73,135.96
03/08/20 NEFT DR-SYNB0005026-JENNIFER B PANCHAL-N N216201203558820 03/08/20 930.00 72,205.96
ETBANK, MUM-N216201203558820-JENI BOA
03/08/20 IB FUNDS TRANSFER CR-04231000044507-HUSE BM02160223535728 03/08/20 930.00 73,135.96
IN HAMZA VAHANVATY
07/08/20 2MMUKKLQ96H6JIZUG6/AMAZONSELLER 0000202207144636 07/08/20 999.00 72,136.96
07/08/20 IB FUNDS TRANSFER CR-04231000044507-HUSE BM02200418583900 07/08/20 999.00 73,135.96
IN HAMZA VAHANVATY
20/08/20 50200026094527-TPT-TLL COMPLAINCES-YUVA 0000000295411802 20/08/20 10,000.00 63,135.96
WELFARE ASSOCIATION OF INDIA
23/08/20 NEFT DR-SYNB0005026-JENNIFER B PANCHAL-N N236201221531812 24/08/20 490.00 62,645.96
ETBANK, MUM-N236201221531812-JENI PASAND

In [117]:
doc

[{'date': datetime.datetime(2020, 6, 1, 0, 0),
  'narration': 'NEFT CR-ICIC0SF0002-DEVISH GNANESH GALAJT1-MV-1998714989',
  'amount': 1000.0,
  'transaction_name': 'Income',
  'closing_balance': 52695.96},
 {'date': datetime.datetime(2020, 6, 1, 0, 0),
  'narration': 'NEFT CR-UTIB0000848-GUNJAN ISHWARLAL NAVADIYA-MURTAZA H VAHANVATY-AXIR201537084412',
  'amount': 2400.0,
  'transaction_name': 'Income',
  'closing_balance': 55095.96},
 {'date': datetime.datetime(2020, 6, 1, 0, 0),
  'narration': '00111530001485 -TPT-EXPENSES-SIDDHARTHAGANESH',
  'amount': 1500.0,
  'transaction_name': 'Income',
  'closing_balance': 56595.96},
 {'date': datetime.datetime(2020, 6, 9, 0, 0),
  'narration': 'NEFT CR-UTIB0000848-GUNJAN ISHWARLAL NAVADIYA-MURTAZA H VAHANVATY-AXIR201610435969',
  'amount': 3500.0,
  'transaction_name': 'Income',
  'closing_balance': 60095.96},
 {'date': datetime.datetime(2020, 6, 17, 0, 0),
  'narration': 'CASH DEPOSIT-XXXXXXXXXX7415-NERUL WEST',
  'amount': 15000.0,
  'transaction_name': 'Income',
  'closing_balance': 75095.96},
 {'date': datetime.datetime(2020, 6, 17, 0, 0),
  'narration': 'UPI-ABHIMANYU KUMAR SING-SINGHABHIMANYU86934@OKICICI-ICIC0000564-016918084380-UPI',
  'amount': 600.0,
  'transaction_name': 'Income',
  'closing_balance': 75695.96},
 {'date': datetime.datetime(2020, 6, 24, 0, 0),
  'narration': '50100290695979-TPT-WALKIE TALKIE-AATASHPATEL',
  'amount': -2800.0,
  'transaction_name': 'Expense',
  'closing_balance': 72895.96},
 {'date': datetime.datetime(2020, 6, 30, 0, 0),
  'narration': '3ABK39KL1CI65YNQZD/AMAZONSELLER',
  'amount': -813.0,
  'transaction_name': 'Expense',
  'closing_balance': 72082.96},
 {'date': datetime.datetime(2020, 6, 30, 0, 0),
  'narration': 'IB FUNDS TRANSFER CR-04231000044507-HUSEIN HAMZA VAHANVATY',
  'amount': 813.0,
  'transaction_name': 'Income',
  'closing_balance': 72895.96},
 {'date': datetime.datetime(2020, 7, 1, 0, 0),
  'narration': 'CREDIT INTEREST CAPITALISED',
  'amount': 240.0,
  'transaction_name': 'Income',
  'closing_balance': 73135.96},
 {'date': datetime.datetime(2020, 8, 3, 0, 0),
  'narration': 'NEFT DR-SYNB0005026-JENNIFER B PANCHAL-NETBANK, MUM-N216201203558820-JENI BOA',
  'amount': -930.0,
  'transaction_name': 'Expense',
  'closing_balance': 72205.96},
 {'date': datetime.datetime(2020, 8, 3, 0, 0),
  'narration': 'IB FUNDS TRANSFER CR-04231000044507-HUSEIN HAMZA VAHANVATY',
  'amount': 930.0,
  'transaction_name': 'Income',
  'closing_balance': 73135.96},
 {'date': datetime.datetime(2020, 8, 7, 0, 0),
  'narration': '2MMUKKLQ96H6JIZUG6/AMAZONSELLER',
  'amount': -999.0,
  'transaction_name': 'Expense',
  'closing_balance': 72136.96},
 {'date': datetime.datetime(2020, 8, 7, 0, 0),
  'narration': 'IB FUNDS TRANSFER CR-04231000044507-HUSEIN HAMZA VAHANVATY',
  'amount': 999.0,
  'transaction_name': 'Income',
  'closing_balance': 73135.96},
 {'date': datetime.datetime(2020, 8, 20, 0, 0),
  'narration': '50200026094527-TPT-TLL COMPLAINCES-YUVAWELFARE ASSOCIATION OF INDIA',
  'amount': -10000.0,
  'transaction_name': 'Expense',
  'closing_balance': 63135.96},
 {'date': datetime.datetime(2020, 8, 23, 0, 0),
  'narration': 'NEFT DR-SYNB0005026-JENNIFER B PANCHAL-NETBANK, MUM-N236201221531812-JENI PASAND',
  'amount': -490.0,
  'transaction_name': 'Expense',
  'closing_balance': 62645.96}]

In [99]:
sentence

'01/07/20 CREDIT INTEREST CAPITALISED 000000000000000 30/06/20 240.00 73,135.96'

In [58]:
ref_no_regex = re.compile('[a-zA-Z0-9]{16}')

In [59]:
r = ref_no_regex.search(sentence)

In [60]:
sentence[9:r.start()]

'NEFT CR-ICIC0SF0002-DEVISH GNANESH GALA '

In [52]:
sentence

'01/06/20 NEFT CR-ICIC0SF0002-DEVISH GNANESH GALA 0000001998714989 01/06/20 1,000.00 52,695.96'

In [51]:
datetime.datetime.strptime(sentence[0:8], '%d/%m/%y')

datetime.datetime(2020, 6, 1, 0, 0)

In [301]:
regex = re.compile('\\n\d{1,5}\\s')

In [302]:
regex.split(text)

['Account StatementAccount # 5112453515 SAVINGS\nBranch ALTAMOUNT ROAD MUMBAI',
 'Apr 2021 - 16 Mar 2022\nAman Ashok Maroo\nCRN XXXXXX462\n1,Chellaraam House, Carmichael\nRoad, Off, Peddar Road, Pedda\nr Road Mumbai\nMumbai - 400026Nominee registered Aarushi  Maroo\n# TRANSACTION TRANSACTION DETAILS CHQ / REF NO. DEBIT(â‚¹) CREDIT(â‚¹) BALANCE(â‚¹)',
 '01 Apr 2021\n08:37 PMUPI/Pravinbahi\nhira/109120193228/accountsUPI-109120091639 -150.00 34,000.70',
 '02 Apr 2021\n09:47 PMMB:TRANSFER MB-999287966182 -19,000.00 15,000.70',
 '02 Apr 2021\n10:57 PMReceived from Mr.  XX6184 IMPS IDFC BANK IMPS-\n109222940068+50.00 15,050.70',
 '02 Apr 2021\n10:58 PMMB:TRANSFER MB-999287944675 -20.00 15,030.70',
 '02 Apr 2021\n10:59 PMUPI/SHEEFA JALAL GI/109222657123/UPI UPI-109222409554 -1.00 15,029.70',
 '03 Apr 2021\n11:00 AMUPI/KUNAL BHARTIYA\n/109311102427/thanksUPI-109311719926 +10,000.00 25,029.70',
 '03 Apr 2021\n11:17 AMUPI/KRISH SUNIL GAM/109311363859/final UPI-109311907069 -7,000.00 18,029.70',
 '03 Apr 2021\n11:17 AMUPI/ZOHA CASTELINO/109311376235/final UPI-109311911298 -1,000.00 17,029.70',
 '03 Apr 2021\n08:18 PMReceived from Mr.  XX6184 IMPS IDFC BANK IMPS-\n109320997385+5,000.00 22,029.70',
 '03 Apr 2021\n08:19 PMUPI/SUMAN KUMAR THA/109320497719/hi UPI-109320482779 -175.00 21,854.70',
 '04 Apr 2021\n02:40 PMUPI/HITHA PARSHVA B/109414136700/a UPI-109414073062 -400.00 21,454.70',
 '04 Apr 2021\n04:49 PMUPI/SHAILESH\nSHIVAJ/109416908885/accountsUPI-109416164897 -100.00 21,354.70',
 '04 Apr 2021\n05:50 PMUPI/RAVISH SRI\nCHAN/109417322268/accountsUPI-109417787371 -2,500.00 18,854.70',
 '05 Apr 2021\n12:18 PMUPI/HIMANSHU\nRAKESH/109512055163/finalUPI-109512589622 -4,625.00 14,229.70',
 '05 Apr 2021\n12:22 PMUPI/ZOHA CASTELINO/109512193345/acc UPI-109512635749 -2,100.00 12,129.70\nOPENING 34,150.70\nStatement generated on 16 Mar 2022, 12:01 AM Page 1 of',
 '']

In [229]:
word

'03 Apr 2021\n08:18 PMReceived from Mr.  XX6184 IMPS IDFC BANK IMPS-\n109320997385+5,000.00 22,029.70'

In [232]:
word[r.start():r.end()].replace('+','')

'5,00'

In [212]:
text

['Apr 2021 - 16 Mar 2022\nAman Ashok Maroo\nCRN XXXXXX462\n1,Chellaraam House, Carmichael\nRoad, Off, Peddar Road, Pedda\nr Road Mumbai\nMumbai - 400026Nominee registered Aarushi  Maroo\n# TRANSACTION TRANSACTION DETAILS CHQ / REF NO. DEBIT(â‚¹) CREDIT(â‚¹) BALANCE(â‚¹)',
 '01 Apr 2021\n08:37 PMUPI/Pravinbahi\nhira/109120193228/accountsUPI-109120091639 -150.00 34,000.70',
 '02 Apr 2021\n09:47 PMMB:TRANSFER MB-999287966182 -19,000.00 15,000.70',
 '02 Apr 2021\n10:57 PMReceived from Mr.  XX6184 IMPS IDFC BANK IMPS-\n109222940068+50.00 15,050.70',
 '02 Apr 2021\n10:58 PMMB:TRANSFER MB-999287944675 -20.00 15,030.70',
 '02 Apr 2021\n10:59 PMUPI/SHEEFA JALAL GI/109222657123/UPI UPI-109222409554 -1.00 15,029.70',
 '03 Apr 2021\n11:00 AMUPI/KUNAL BHARTIYA\n/109311102427/thanksUPI-109311719926 +10,000.00 25,029.70',
 '03 Apr 2021\n11:17 AMUPI/KRISH SUNIL GAM/109311363859/final UPI-109311907069 -7,000.00 18,029.70',
 '03 Apr 2021\n11:17 AMUPI/ZOHA CASTELINO/109311376235/final UPI-109311911298 -1,000.00 17,029.70',
 '03 Apr 2021\n08:18 PMReceived from Mr.  XX6184 IMPS IDFC BANK IMPS-\n109320997385+5,000.00 22,029.70',
 '03 Apr 2021\n08:19 PMUPI/SUMAN KUMAR THA/109320497719/hi UPI-109320482779 -175.00 21,854.70',
 '04 Apr 2021\n02:40 PMUPI/HITHA PARSHVA B/109414136700/a UPI-109414073062 -400.00 21,454.70',
 '04 Apr 2021\n04:49 PMUPI/SHAILESH\nSHIVAJ/109416908885/accountsUPI-109416164897 -100.00 21,354.70',
 '04 Apr 2021\n05:50 PMUPI/RAVISH SRI\nCHAN/109417322268/accountsUPI-109417787371 -2,500.00 18,854.70',
 '05 Apr 2021\n12:18 PMUPI/HIMANSHU\nRAKESH/109512055163/finalUPI-109512589622 -4,625.00 14,229.70',
 '05 Apr 2021\n12:22 PMUPI/ZOHA CASTELINO/109512193345/acc UPI-109512635749 -2,100.00 12,129.70']

In [207]:
text = pageObj.extractText()

In [209]:
text = regex.split(text)

In [210]:
text

['Account StatementAccount # 5112453515 SAVINGS\nBranch ALTAMOUNT ROAD MUMBAI',
 'Apr 2021 - 16 Mar 2022\nAman Ashok Maroo\nCRN XXXXXX462\n1,Chellaraam House, Carmichael\nRoad, Off, Peddar Road, Pedda\nr Road Mumbai\nMumbai - 400026Nominee registered Aarushi  Maroo\n# TRANSACTION TRANSACTION DETAILS CHQ / REF NO. DEBIT(â‚¹) CREDIT(â‚¹) BALANCE(â‚¹)',
 '01 Apr 2021\n08:37 PMUPI/Pravinbahi\nhira/109120193228/accountsUPI-109120091639 -150.00 34,000.70',
 '02 Apr 2021\n09:47 PMMB:TRANSFER MB-999287966182 -19,000.00 15,000.70',
 '02 Apr 2021\n10:57 PMReceived from Mr.  XX6184 IMPS IDFC BANK IMPS-\n109222940068+50.00 15,050.70',
 '02 Apr 2021\n10:58 PMMB:TRANSFER MB-999287944675 -20.00 15,030.70',
 '02 Apr 2021\n10:59 PMUPI/SHEEFA JALAL GI/109222657123/UPI UPI-109222409554 -1.00 15,029.70',
 '03 Apr 2021\n11:00 AMUPI/KUNAL BHARTIYA\n/109311102427/thanksUPI-109311719926 +10,000.00 25,029.70',
 '03 Apr 2021\n11:17 AMUPI/KRISH SUNIL GAM/109311363859/final UPI-109311907069 -7,000.00 18,029.70',
 '03 Apr 2021\n11:17 AMUPI/ZOHA CASTELINO/109311376235/final UPI-109311911298 -1,000.00 17,029.70',
 '03 Apr 2021\n08:18 PMReceived from Mr.  XX6184 IMPS IDFC BANK IMPS-\n109320997385+5,000.00 22,029.70',
 '03 Apr 2021\n08:19 PMUPI/SUMAN KUMAR THA/109320497719/hi UPI-109320482779 -175.00 21,854.70',
 '04 Apr 2021\n02:40 PMUPI/HITHA PARSHVA B/109414136700/a UPI-109414073062 -400.00 21,454.70',
 '04 Apr 2021\n04:49 PMUPI/SHAILESH\nSHIVAJ/109416908885/accountsUPI-109416164897 -100.00 21,354.70',
 '04 Apr 2021\n05:50 PMUPI/RAVISH SRI\nCHAN/109417322268/accountsUPI-109417787371 -2,500.00 18,854.70',
 '05 Apr 2021\n12:18 PMUPI/HIMANSHU\nRAKESH/109512055163/finalUPI-109512589622 -4,625.00 14,229.70',
 '05 Apr 2021\n12:22 PMUPI/ZOHA CASTELINO/109512193345/acc UPI-109512635749 -2,100.00 12,129.70\nOPENING 34,150.70\nStatement generated on 16 Mar 2022, 12:01 AM Page 1 of',
 '']

In [180]:
def find_second_last(text, pattern):
    return text.rfind(pattern, 0, text.rfind(pattern))

In [182]:
word

73

In [191]:
word[20:find_second_last(word, ' ')]

'UPI/RRS SHARES AND /207417883384/UPI UPI-207400428357'

In [132]:
new_text

['AMAN ASHOK MAROO\nAccount Statement 01 Apr 2021 - 16 Mar 2022\n# TRANSACTION TRANSACTION DETAILS CHQ / REF NO. DEBIT(â‚¹) CREDIT(â‚¹) BALANCE(â‚¹)',
 '10 Mar 2022\n04:07 AMChrg: AMB Non Maintenance Chrg for Feb-\n2022TBMS-918336543 -343.80 7,531.68',
 '10 Mar 2022\n04:32 AMChrg: AMB Non Maintenance Chrg for Jan-\n2022TBMS-918285939 -95.79 7,435.89',
 '10 Mar 2022\n10:47 AMUPI/Mr NILESH BHOSL/206988924930/UPI UPI-206929637510 -2,000.00 5,435.89',
 '10 Mar 2022\n11:26 AMUPI/ASHWIN ALFRED\nA/206907251062/ShahaanUPI-206930157635 +11,500.00 16,935.89',
 '10 Mar 2022\n01:20 PMRecd:IMPS/206913304695/AMAN\nMAROO/KKBK/X4936/TransIMPS-\n206913388513+40,000.00 56,935.89',
 '10 Mar 2022\n01:23 PMMB TRANSFER                      Ref\n206913393362IMPS-\n206913393283-22,500.00 34,435.89',
 '10 Mar 2022\n07:17 PMUPI/Mr NILESH BHOSL/206910955768/UPI UPI-206937041869 -323.00 34,112.89',
 '10 Mar 2022\n10:08 PMATW/8659/+M. L Dhunakr\nMargMumbaiMHIN100322/22:08206916380387 -10,000.00 24,112.89',
 '10 Mar 2022\n10:08 PMATW/8659/+M. L Dhunakr\nMargMumbaiMHIN100322/22:08206916380389 -8,000.00 16,112.89',
 '11 Mar 2022\n06:31 PMNEFT N070221870934879 CARE HEALTH\nINS LTD DISBURSNEFTINW-\n0382632260+11,216.59 27,329.48',
 '11 Mar 2022\n08:19 PMUPI/Mr NILESH BHOSL/207034837371/UPI UPI-207052192548 -44.00 27,285.48',
 '12 Mar 2022\n07:10 PMUPI/Pravinbahi hira/207152463551/UPI UPI-207164497801 -150.00 27,135.48',
 '13 Mar 2022\n05:49 PMUPI/BARKER AND\nMEOW/207269319975/UPIUPI-207276567172 -699.00 26,436.48',
 '14 Mar 2022\n08:40 AMNEFT SIN00101Q0868090 M S BAJAJ\nALLIANZ LI SCBL00NEFTINW-\n0383230671+296.00 26,732.48',
 '14 Mar 2022\n11:44 AMUPI/AFZAL HUSSAIN S/207381137468/UPI UPI-207385009879 -3,000.00 23,732.48',
 '14 Mar 2022\n03:54 PMUPI/LAXMAN\nSEETARAM/207386044620/UPIUPI-207388479017 -100.00 23,632.48',
 '15 Mar 2022\n01:45 PMUPI/RRS SHARES AND /207417883384/UPI UPI-207400428357 -485.00 23,147.48\nOPENING 34,150.70\nStatement generated on 16 Mar 2022, 12:01 AM Page 36 of',
 '']

In [73]:
transaction_block = ['748 10 Mar 2022', '04:07 AMChrg: AMB Non Maintenance Chrg for Feb-', '2022TBMS-918336543 -343.80 7,531.68']

           date                                          narration
0   10 Mar 2022    04:07 AMChrg: AMB Non Maintenance Chrg for Feb-
1   10 Mar 2022    04:32 AMChrg: AMB Non Maintenance Chrg for Jan-
2   10 Mar 2022  10:47 AMUPI/Mr NILESH BHOSL/206988924930/UPI U...
3   10 Mar 2022                          11:26 AMUPI/ASHWIN ALFRED
4   10 Mar 2022                01:20 PMRecd:IMPS/206913304695/AMAN
..          ...                                                ...
10  04 Apr 2021  02:40 PMUPI/HITHA PARSHVA B/109414136700/a UPI...
11  04 Apr 2021                               04:49 PMUPI/SHAILESH
12  04 Apr 2021                             05:50 PMUPI/RAVISH SRI
13  05 Apr 2021                               12:18 PMUPI/HIMANSHU
14  05 Apr 2021  12:22 PMUPI/ZOHA CASTELINO/109512193345/acc UP...

[764 rows x 2 columns]

In [61]:
word

'AMAN ASHOK MAROO'

In [44]:
text = pageObj.extractText().split('\n')

In [50]:
word = text[10]

In [51]:
datetime.datetime.strptime(word[-11:], '%d %b %Y')

datetime.datetime(2021, 4, 1, 0, 0)

In [7]:
doc2 = doc

In [58]:
maroo_files = pd.concat([doc_1, doc2])

In [59]:
maroo_files.to_csv('maroo_narrations.csv')

In [62]:
all_files = pd.read_csv('mojek_sample_data_cleaned.csv').iloc[:, 1:]

In [69]:
all_files = all_files.rename(columns={"Date": 'date', "Narration":'narration'})

In [73]:
all_files = pd.concat([all_files, maroo_files])

In [74]:
all_files.to_csv('latest_statements.csv')

In [89]:
results = pd.read_csv('../latest_statement_w_label.csv').iloc[:, 1:]

In [90]:
len(results.query('label != "0"')) / len(results)

0.29489849036959914

In [92]:
results.query('label != "0"')[["narration", "label"]].head(50)

                                             narration               label
0            UPI/Razorpay/200584916678/IXIGO Refund Ic          Air Travel
1            UPI/Razorpay/200584918792/IXIGO Refund Ic          Air Travel
4           PCD/5527/SPOTIFY SI/2240920005070122/23:19           Streaming
6                 UPI/Paytm Recharge /200943967734/UPI   Bills & Utilities
12              UPI/AMAZON/201313348209/You are paying     Online Shopping
14    UPI/Zerodha Broking/201775902031/Kite deposit 03              Equity
17    UPI/Amazon Pay Indi/201923252483/Refund for your     Online Shopping
18             UPI/Zerodha/202026470648/476360 Zerodha              Equity
19         UPI/Zomato Ltd/202387689633/OidZTDUPIC22508         Restaurants
24            UPI/NoviDigitalEnte/202643496487/Hotstar           Streaming
25                UPI/BALAJI PROVISIO/202649251421/UPI  Household Expenses
26                UPI/BIG SAVE SUPER /202649392474/UPI  Household Expenses
27                UPI/BIG SAVE SUPER /202764355247/UPI  Household Expenses
33                UPI/AL sham  Restau/203011499637/UPI         Restaurants
39   ATL/5527/800001/BEHIND SRM UNIVERSITYC030222/1...             Tuition
40    UPI/TRAVEL FOOD SER/203473584728/Pay To TRAVEL F         Restaurants
43     PCD/5527/THE LOCAL DINERS/BANGALORE030222/23:25         Restaurants
45   PCD/5527/GAWKY GOOSE KITCHEN AN/BANGAL050222/2...         Restaurants
46          PCD/5527/SPOTIFY SI/2240920005070222/23:19           Streaming
50                UPI/BIG SAVE SUPER /204116367960/UPI  Household Expenses
51                        UPI/SWIGGY/204248136669/food         Restaurants
52              UPI/AMAZON/204312689225/You are paying     Online Shopping
53             UPI/BIG SAVE SUPER /204361261570/kirana  Household Expenses
55   PCD/5527/SM CATERERS AND MARKET/I  Kan140222/1...         Restaurants
63   ATL/5527/800001/BEHIND SRM UNIVERSITYC180222/1...             Tuition
64   NEFT N053221030962276 ZERODHA BROKING LIMITED NSE              Equity
65     UPI/Zerodha Broking/205305912890/Zerodha equity              Equity
70   PCD/5527/FLYING DUTCHMAN RESTAU/GHAZIA050121/1...         Restaurants
75   PCD/5527/FLIPKART PAYMENTS/0124305400180121/10:16     Online Shopping
81    UPI/Facebook India /103113345222/Upi Transaction           Streaming
84      ATW/5527/Vardaan KhandMakhdoomUPIN030221/19:01      ATM Withdrawal
86              UPI/AMAZON/103421373235/You are paying     Online Shopping
88           UPI/Flipkart/103600396181/Payment for OD2     Online Shopping
89                   UPI/BILLDESK/103617578747/SPOTIFY           Streaming
92          PCI/5527/Freelancer.com/London090221/19:54       Work Expenses
93          PCI/5527/Freelancer.com/London090221/19:54       Work Expenses
94          PCI/5527/Freelancer.com/London090221/20:05       Work Expenses
100               UPI/AMAZON SELLER S/104514635278/UPI     Online Shopping
107           UPI/PURUSHOTTAM TRY/105718442491/Bitcoin              Crypto
116               UPI/Spotify India L/108909719230/UPI           Streaming
121             UPI/AMAZON/109512313316/You are paying     Online Shopping
123         PCI/5527/Freelancer.com/London070421/07:53       Work Expenses
125       PCD/5527/TASTE OF NAWABS/LUCKNOW070421/18:51         Restaurants
126               UPI/Indian Oil Petr/109719711871/UPI                Fuel
129                 UPI/Dominos Pizza/110220703676/UPI         Restaurants
130             UPI/AMAZON/110315359739/You are paying     Online Shopping
136   UPI/MYNTRA DESIGNS /111119149478/Upi Transaction     Online Shopping
139         PCI/5527/Freelancer.com/London260421/20:52       Work Expenses
148             UPI/Zomato/113012085631/Zomato payment         Restaurants
149             UPI/AMAZON/113019130516/You are paying     Online Shopping